<div class="row">
  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/students/add" title="Add Students"
        ><i data-feather="user-plus"></i><sub>Add Students</sub>
      </a>
    </div>
  </div>

  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/students/list" title="All Users"
        ><i data-feather="users"></i> <sub>All Students</sub></a
      >
    </div>
  </div>
  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/attendance/mark" title="All Users"
        ><i data-feather="users"></i> <sub>Mark Attandance</sub></a
      >
    </div>
  </div>
  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/attendance/summary" title="All Users"
        ><i data-feather="users"></i> <sub>Attandance Summary</sub></a
      >
    </div>
  </div>
  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/classes/add" title="Add Students"
        ><i data-feather="user-plus"></i><sub>Add Classes</sub>
      </a>
    </div>
  </div>

  <div class="col-6">
    <div class="border m-3 border rounded">
      <a class="nav-link" href="/admin/classes/list" title="All Users"
        ><i data-feather="users"></i> <sub>All Classes</sub></a
      >
    </div>
  </div>
</div>
