<%- include('layout/scripts'); -%>
<div class="container m-4 p-4 text-center mx-auto">
  <br />
  <br />
  <br />
  <p class="display-1">404</p>
  <hr />
  <p class="display-4">Not Found</p>
  <hr />
  <a href="/" class="btn btn-dark">Go To Home</a>
  <br />
  <br />
  <br />
</div>
